@tailwind base;
@tailwind components;
@tailwind utilities;


.press-font {
  font-family: 'Press Start 2P', cursive;
}

.absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}


.purple-gradient {
  background: rgb(111,26,182);
background: linear-gradient(90deg, rgba(111,26,182,1) 0%, rgba(0,0,0,1) 100%);
}